html, body {
    width: 100%;
    height: 100%;
}

header {
    /* boltdesignsystem indigo, dark */
    background-color: #161A3C;
}

body {
    /* boltdesignsystem indigo, xdark */
    background-color: #060923;
}

.container {
    width: 500px;
    height: 500px;
    /* boltdesignsystem indigo, dark */
    background-color: #161A3C
}

main {

}