html, body {
    width: 100%;
    height: 100%;
}

header {
    /* boltdesignsystem indigo, dark */
    background-color: #161A3C;
    height: 50px;
}

body {
    /* boltdesignsystem indigo, xdark */
    background-color: #060923;
}

.container {
    width: 500px;
    height: 500px;
    /* boltdesignsystem indigo, dark */
    background-color: #161A3C
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}